@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Good Timing';
  src: url('./fonts/good_timing_bd.ttf') format('truetype');
}

@font-face {
  font-family: 'DaMiOne';
  src: url('./fonts/DaMiOne.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100vw;
  height: auto;
  background-color: #0d0d0d;
  overflow-x: hidden;
}

.modalHeader-enter {
  margin-top: -110vh;
  transition: 400ms ease;
}
.modalHeader-enter-active {
  margin-top: calc(100vh - 80px);
  transition: 400ms ease;
}
.modalHeader-enter-done {
  margin-top: calc(100vh - 80px);
  transition: 400ms ease;
}
.modalHeader-exit {
  margin-top: calc(100vh - 80px);
  transition: 400ms ease;
}
.modalHeader-exit-active {
  margin-top: -110vh;
  transition: 400ms ease;
}


